<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>আমরা আপনার অবস্থান ব্যবহার করব কাছাকাছি টাস্ক জানাতে।</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>ব্যাকগ্রাউন্ডে টাস্ক মনিটর করার জন্য আপনার অবস্থান দরকার।</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>আপনার কাছাকাছি টাস্ক নোটিফিকেশন দেওয়ার জন্য লোকেশন দরকার।</string>
    
</dict>
</plist>
